body {
  margin: 36px;
}

button {
  all: unset;
  margin-bottom: 2em;
  padding: 0 2em;
  height: 64px;
  line-height: 64px;
  font-size: 1.2em;
  color: white;
  background-color: tomato;
  border-radius: 8px;
  cursor: pointer;
}

#loading {
  position: relative;
  width: 600px;
  height: 40px;
  background-color: lightblue;
  border-radius: 20px;
  overflow: hidden;
}

#loading>div {
  display: flex;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#loading>div>div {
  flex-grow: 1;
}

#loading>div>div:nth-child(odd) {
  background-color: dodgerblue;
}


button._1:hover {
  border-radius: 32px;
  background-color: plum;
}

button._1{
  transition: all 500ms;
}

button._2:hover {
  animation-name: second;
  animation-duration: 200ms;
}

@keyframes second {
  from{
    transform: scale(100%);
  }

  50% {
    transform: scale(110%);
  }

  to{
    transform: scale(100%);
  }
}

#loading > div{
  transform: skew(-20deg);
  animation: third 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes third {
  from{
    left : -600px;
  }
  to{
    left : 0;
  }
}